//.gitignore

/node_modules

.env

.vscode
.DS_Store
.idea
1945 498 46 11
1650 507 64 11
2000 500 64 10
mongodb+srv://slavavilhov:QSNDdSUiVvEp876f@cluster0.kfhgr.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0